# IDE
/.idea
/.vscode

# pycache
/__pycache__
/data/__pycache__
/handlers/__pycache__
/handlers/admin_panel/__pycache__
/handlers/courses/__pycache__
/keyboards/__pycache__
/middlewares/__pycache__/
/utils/__pycache__

# configuration files
/venv
/.env

# working files
/data/users.db
/data/rings_changes.txt